<div class="row">
  <div class="col-sm-4">

    <% if @trips.empty? %>
      No trips
    <% else %>
      <%= render "shared/trips" %>
    <% end %>

  </div>
  <div class="col-sm-4">

    <%= render "shared/trip" %>

    <% if @maps.empty? %>
      No maps
    <% else %>
      <%= render "shared/maps" %>
    <% end %>
  </div>
</div>
