<div class="row">
  <div class="col-sm-4">
    <h3>Sign in</h3>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="form-group">
        <%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
      </div>

      <div class="input-group">
        <%= f.password_field :password, class: "form-control", :placeholder => "Password" %>
        <span class="input-group-btn">
          <%= f.submit "Sign in", class: "btn btn-primary" %>
        </span>
      </div>

      
    <% end %>

  </div>
</div>