<% provide(:title, "Edit user") %> 

<div class="row">
  <div class="col-sm-4">
    <h3>Update profile</h3>

    <%= render 'form' %>
    
    <br><%= link_to 'Cancel', @user, class: "btn btn-sm btn-default" %>

  </div>
</div>