
<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="col-sm-4">

    <h3>Add person</h3>

    <%= render 'form' %>

    <br><%= link_to 'Cancel', users_path, class: "btn btn-sm btn-default" %>

    </div>
</div>