<div class="row">
  <div class="col-sm-4">

    <% if @locations.empty? %>
      No locations
    <% else %>
      <%= render "shared/locations" %>
    <% end %>

  </div>
  <div class="col-sm-4">

    <%= render "shared/location" %>

    <% if @maps.empty? %>
      No maps
    <% else %>
      <%= render "shared/maps" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var loc = <%= raw [@location.location_name.to_s, @location.latitude.to_s, @location.longitude.to_s, @location.id.to_s] %>;

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 16,
    center: new google.maps.LatLng(loc[1], loc[2]),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    streetViewControl: false
  });

  var infowindow = new google.maps.InfoWindow();

  marker = new google.maps.Marker({
    position: new google.maps.LatLng(loc[1], loc[2]),
    map: map
  });
</script>


