<div class="row">
  <div class="col-sm-4">

    <% if @locations.empty? %>
      No locations
    <% else %>
      <%= render "shared/locations" %>
    <% end %>

  </div>
  <div class="col-sm-4">

    <%= render "shared/location" %>

    <% if @maps.empty? %>
      No maps
    <% else %>
      <%= render "shared/maps" %>
    <% end %>
  </div>
</div>
